spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/email_firewall
    username: ${POSTGRES_USER:myuser}
    password: ${POSTGRES_PASSWORD:secret}

  flyway:
    enabled: true

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
